httplib2==0.22.0
python-dotenv==1.0.1
flask==3.0.3
Flask-SQLAlchemy==3.1.1
flask-bcrypt==1.0.1
flask-restx==1.3.0
flask-jwt-extended==4.6.0
Flask-Cors==5.0.0
psycopg2==2.9.9
# Mac users may need to install psycopg2-binary instead of psycopg2
boto3==1.35.82
flask-socketio==5.4.1
stripe==11.4.1
pandas==2.2.3
nltk==3.9.1
gensim==4.3.3
scikit-learn==1.6.1